/* line 19, sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 27, sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 38, sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 48, sass/_normalize.scss */
[hidden] {
  display: none;
}

/* line 63, sass/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/* line 76, sass/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 81, sass/_normalize.scss */
body {
  margin: 0;
}

/* line 93, sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 102, sass/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 116, sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 121, sass/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 126, sass/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 131, sass/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 136, sass/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 141, sass/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 149, sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 156, sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 160, sass/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 167, sass/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 175, sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 184, sass/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/* line 193, sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 203, sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 210, sass/_normalize.scss */
q {
  quotes: none;
}

/* line 216, sass/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 222, sass/_normalize.scss */
small {
  font-size: 80%;
}

/* line 227, sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 234, sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 238, sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 246, sass/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 250, sass/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 256, sass/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 262, sass/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 268, sass/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/* line 273, sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 278, sass/_normalize.scss */
figure {
  margin: 0;
}

/* line 282, sass/_normalize.scss */
form {
  margin: 0;
}

/* line 287, sass/_normalize.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 293, sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/* line 304, sass/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/* line 312, sass/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 320, sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/* line 328, sass/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 334, sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/* line 342, sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/* line 351, sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 356, sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 361, sass/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* line 366, sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 9, sass/_h5bp.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 13, sass/_h5bp.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 18, sass/_h5bp.scss */
::-moz-selection {
  background: #666666;
  text-shadow: none;
}

/* line 23, sass/_h5bp.scss */
::selection {
  background: #666666;
  text-shadow: none;
}

/* line 28, sass/_h5bp.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 37, sass/_h5bp.scss */
img {
  vertical-align: middle;
}

/* line 41, sass/_h5bp.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 47, sass/_h5bp.scss */
textarea {
  resize: vertical;
}

/* line 51, sass/_h5bp.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 61, sass/_h5bp.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 68, sass/_h5bp.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/* line 75, sass/_h5bp.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 80, sass/_h5bp.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 92, sass/_h5bp.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 101, sass/_h5bp.scss */
.invisible {
  visibility: hidden;
}

/* line 106, sass/_h5bp.scss */
.clearfix:before, .main-header .top:before, .main-footer:before,
.clearfix:after,
.main-header .top:after,
.main-footer:after {
  content: " ";
  display: table;
}

/* line 111, sass/_h5bp.scss */
.clearfix:after, .main-header .top:after, .main-footer:after {
  clear: both;
}

/* line 115, sass/_h5bp.scss */
.clearfix, .main-header .top, .main-footer {
  *zoom: 1;
}

/* line 46, sass/main.scss */
html, body {
  height: 100%;
}

/* line 49, sass/main.scss */
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* line 59, sass/main.scss */
.container {
  margin: 0 auto;
  width: 1138px;
}

/* line 64, sass/main.scss */
.wrapper {
  *zoom: 1;
  max-width: 978px;
  _width: 978px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(5.52147%, rgba(100, 100, 225, 0.25)), color-stop(5.52147%, rgba(0, 0, 0, 0)), color-stop(8.58896%, rgba(0, 0, 0, 0)), color-stop(8.58896%, rgba(100, 100, 225, 0.25)), color-stop(14.11043%, rgba(100, 100, 225, 0.25)), color-stop(14.11043%, rgba(0, 0, 0, 0)), color-stop(17.17791%, rgba(0, 0, 0, 0)), color-stop(17.17791%, rgba(100, 100, 225, 0.25)), color-stop(22.69939%, rgba(100, 100, 225, 0.25)), color-stop(22.69939%, rgba(0, 0, 0, 0)), color-stop(25.76687%, rgba(0, 0, 0, 0)), color-stop(25.76687%, rgba(100, 100, 225, 0.25)), color-stop(31.28834%, rgba(100, 100, 225, 0.25)), color-stop(31.28834%, rgba(0, 0, 0, 0)), color-stop(34.35583%, rgba(0, 0, 0, 0)), color-stop(34.35583%, rgba(100, 100, 225, 0.25)), color-stop(39.8773%, rgba(100, 100, 225, 0.25)), color-stop(39.8773%, rgba(0, 0, 0, 0)), color-stop(42.94479%, rgba(0, 0, 0, 0)), color-stop(42.94479%, rgba(100, 100, 225, 0.25)), color-stop(48.46626%, rgba(100, 100, 225, 0.25)), color-stop(48.46626%, rgba(0, 0, 0, 0)), color-stop(51.53374%, rgba(0, 0, 0, 0)), color-stop(51.53374%, rgba(100, 100, 225, 0.25)), color-stop(57.05521%, rgba(100, 100, 225, 0.25)), color-stop(57.05521%, rgba(0, 0, 0, 0)), color-stop(60.1227%, rgba(0, 0, 0, 0)), color-stop(60.1227%, rgba(100, 100, 225, 0.25)), color-stop(65.64417%, rgba(100, 100, 225, 0.25)), color-stop(65.64417%, rgba(0, 0, 0, 0)), color-stop(68.71166%, rgba(0, 0, 0, 0)), color-stop(68.71166%, rgba(100, 100, 225, 0.25)), color-stop(74.23313%, rgba(100, 100, 225, 0.25)), color-stop(74.23313%, rgba(0, 0, 0, 0)), color-stop(77.30061%, rgba(0, 0, 0, 0)), color-stop(77.30061%, rgba(100, 100, 225, 0.25)), color-stop(82.82209%, rgba(100, 100, 225, 0.25)), color-stop(82.82209%, rgba(0, 0, 0, 0)), color-stop(85.88957%, rgba(0, 0, 0, 0)), color-stop(85.88957%, rgba(100, 100, 225, 0.25)), color-stop(91.41104%, rgba(100, 100, 225, 0.25)), color-stop(91.41104%, rgba(0, 0, 0, 0)), color-stop(94.47853%, rgba(0, 0, 0, 0)), color-stop(94.47853%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.52147%, rgba(0, 0, 0, 0) 5.52147%, rgba(0, 0, 0, 0) 8.58896%, rgba(100, 100, 225, 0.25) 8.58896%, rgba(100, 100, 225, 0.25) 14.11043%, rgba(0, 0, 0, 0) 14.11043%, rgba(0, 0, 0, 0) 17.17791%, rgba(100, 100, 225, 0.25) 17.17791%, rgba(100, 100, 225, 0.25) 22.69939%, rgba(0, 0, 0, 0) 22.69939%, rgba(0, 0, 0, 0) 25.76687%, rgba(100, 100, 225, 0.25) 25.76687%, rgba(100, 100, 225, 0.25) 31.28834%, rgba(0, 0, 0, 0) 31.28834%, rgba(0, 0, 0, 0) 34.35583%, rgba(100, 100, 225, 0.25) 34.35583%, rgba(100, 100, 225, 0.25) 39.8773%, rgba(0, 0, 0, 0) 39.8773%, rgba(0, 0, 0, 0) 42.94479%, rgba(100, 100, 225, 0.25) 42.94479%, rgba(100, 100, 225, 0.25) 48.46626%, rgba(0, 0, 0, 0) 48.46626%, rgba(0, 0, 0, 0) 51.53374%, rgba(100, 100, 225, 0.25) 51.53374%, rgba(100, 100, 225, 0.25) 57.05521%, rgba(0, 0, 0, 0) 57.05521%, rgba(0, 0, 0, 0) 60.1227%, rgba(100, 100, 225, 0.25) 60.1227%, rgba(100, 100, 225, 0.25) 65.64417%, rgba(0, 0, 0, 0) 65.64417%, rgba(0, 0, 0, 0) 68.71166%, rgba(100, 100, 225, 0.25) 68.71166%, rgba(100, 100, 225, 0.25) 74.23313%, rgba(0, 0, 0, 0) 74.23313%, rgba(0, 0, 0, 0) 77.30061%, rgba(100, 100, 225, 0.25) 77.30061%, rgba(100, 100, 225, 0.25) 82.82209%, rgba(0, 0, 0, 0) 82.82209%, rgba(0, 0, 0, 0) 85.88957%, rgba(100, 100, 225, 0.25) 85.88957%, rgba(100, 100, 225, 0.25) 91.41104%, rgba(0, 0, 0, 0) 91.41104%, rgba(0, 0, 0, 0) 94.47853%, rgba(100, 100, 225, 0.25) 94.47853%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.52147%, rgba(0, 0, 0, 0) 5.52147%, rgba(0, 0, 0, 0) 8.58896%, rgba(100, 100, 225, 0.25) 8.58896%, rgba(100, 100, 225, 0.25) 14.11043%, rgba(0, 0, 0, 0) 14.11043%, rgba(0, 0, 0, 0) 17.17791%, rgba(100, 100, 225, 0.25) 17.17791%, rgba(100, 100, 225, 0.25) 22.69939%, rgba(0, 0, 0, 0) 22.69939%, rgba(0, 0, 0, 0) 25.76687%, rgba(100, 100, 225, 0.25) 25.76687%, rgba(100, 100, 225, 0.25) 31.28834%, rgba(0, 0, 0, 0) 31.28834%, rgba(0, 0, 0, 0) 34.35583%, rgba(100, 100, 225, 0.25) 34.35583%, rgba(100, 100, 225, 0.25) 39.8773%, rgba(0, 0, 0, 0) 39.8773%, rgba(0, 0, 0, 0) 42.94479%, rgba(100, 100, 225, 0.25) 42.94479%, rgba(100, 100, 225, 0.25) 48.46626%, rgba(0, 0, 0, 0) 48.46626%, rgba(0, 0, 0, 0) 51.53374%, rgba(100, 100, 225, 0.25) 51.53374%, rgba(100, 100, 225, 0.25) 57.05521%, rgba(0, 0, 0, 0) 57.05521%, rgba(0, 0, 0, 0) 60.1227%, rgba(100, 100, 225, 0.25) 60.1227%, rgba(100, 100, 225, 0.25) 65.64417%, rgba(0, 0, 0, 0) 65.64417%, rgba(0, 0, 0, 0) 68.71166%, rgba(100, 100, 225, 0.25) 68.71166%, rgba(100, 100, 225, 0.25) 74.23313%, rgba(0, 0, 0, 0) 74.23313%, rgba(0, 0, 0, 0) 77.30061%, rgba(100, 100, 225, 0.25) 77.30061%, rgba(100, 100, 225, 0.25) 82.82209%, rgba(0, 0, 0, 0) 82.82209%, rgba(0, 0, 0, 0) 85.88957%, rgba(100, 100, 225, 0.25) 85.88957%, rgba(100, 100, 225, 0.25) 91.41104%, rgba(0, 0, 0, 0) 91.41104%, rgba(0, 0, 0, 0) 94.47853%, rgba(100, 100, 225, 0.25) 94.47853%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.52147%, rgba(0, 0, 0, 0) 5.52147%, rgba(0, 0, 0, 0) 8.58896%, rgba(100, 100, 225, 0.25) 8.58896%, rgba(100, 100, 225, 0.25) 14.11043%, rgba(0, 0, 0, 0) 14.11043%, rgba(0, 0, 0, 0) 17.17791%, rgba(100, 100, 225, 0.25) 17.17791%, rgba(100, 100, 225, 0.25) 22.69939%, rgba(0, 0, 0, 0) 22.69939%, rgba(0, 0, 0, 0) 25.76687%, rgba(100, 100, 225, 0.25) 25.76687%, rgba(100, 100, 225, 0.25) 31.28834%, rgba(0, 0, 0, 0) 31.28834%, rgba(0, 0, 0, 0) 34.35583%, rgba(100, 100, 225, 0.25) 34.35583%, rgba(100, 100, 225, 0.25) 39.8773%, rgba(0, 0, 0, 0) 39.8773%, rgba(0, 0, 0, 0) 42.94479%, rgba(100, 100, 225, 0.25) 42.94479%, rgba(100, 100, 225, 0.25) 48.46626%, rgba(0, 0, 0, 0) 48.46626%, rgba(0, 0, 0, 0) 51.53374%, rgba(100, 100, 225, 0.25) 51.53374%, rgba(100, 100, 225, 0.25) 57.05521%, rgba(0, 0, 0, 0) 57.05521%, rgba(0, 0, 0, 0) 60.1227%, rgba(100, 100, 225, 0.25) 60.1227%, rgba(100, 100, 225, 0.25) 65.64417%, rgba(0, 0, 0, 0) 65.64417%, rgba(0, 0, 0, 0) 68.71166%, rgba(100, 100, 225, 0.25) 68.71166%, rgba(100, 100, 225, 0.25) 74.23313%, rgba(0, 0, 0, 0) 74.23313%, rgba(0, 0, 0, 0) 77.30061%, rgba(100, 100, 225, 0.25) 77.30061%, rgba(100, 100, 225, 0.25) 82.82209%, rgba(0, 0, 0, 0) 82.82209%, rgba(0, 0, 0, 0) 85.88957%, rgba(100, 100, 225, 0.25) 85.88957%, rgba(100, 100, 225, 0.25) 91.41104%, rgba(0, 0, 0, 0) 91.41104%, rgba(0, 0, 0, 0) 94.47853%, rgba(100, 100, 225, 0.25) 94.47853%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.52147%, rgba(0, 0, 0, 0) 5.52147%, rgba(0, 0, 0, 0) 8.58896%, rgba(100, 100, 225, 0.25) 8.58896%, rgba(100, 100, 225, 0.25) 14.11043%, rgba(0, 0, 0, 0) 14.11043%, rgba(0, 0, 0, 0) 17.17791%, rgba(100, 100, 225, 0.25) 17.17791%, rgba(100, 100, 225, 0.25) 22.69939%, rgba(0, 0, 0, 0) 22.69939%, rgba(0, 0, 0, 0) 25.76687%, rgba(100, 100, 225, 0.25) 25.76687%, rgba(100, 100, 225, 0.25) 31.28834%, rgba(0, 0, 0, 0) 31.28834%, rgba(0, 0, 0, 0) 34.35583%, rgba(100, 100, 225, 0.25) 34.35583%, rgba(100, 100, 225, 0.25) 39.8773%, rgba(0, 0, 0, 0) 39.8773%, rgba(0, 0, 0, 0) 42.94479%, rgba(100, 100, 225, 0.25) 42.94479%, rgba(100, 100, 225, 0.25) 48.46626%, rgba(0, 0, 0, 0) 48.46626%, rgba(0, 0, 0, 0) 51.53374%, rgba(100, 100, 225, 0.25) 51.53374%, rgba(100, 100, 225, 0.25) 57.05521%, rgba(0, 0, 0, 0) 57.05521%, rgba(0, 0, 0, 0) 60.1227%, rgba(100, 100, 225, 0.25) 60.1227%, rgba(100, 100, 225, 0.25) 65.64417%, rgba(0, 0, 0, 0) 65.64417%, rgba(0, 0, 0, 0) 68.71166%, rgba(100, 100, 225, 0.25) 68.71166%, rgba(100, 100, 225, 0.25) 74.23313%, rgba(0, 0, 0, 0) 74.23313%, rgba(0, 0, 0, 0) 77.30061%, rgba(100, 100, 225, 0.25) 77.30061%, rgba(100, 100, 225, 0.25) 82.82209%, rgba(0, 0, 0, 0) 82.82209%, rgba(0, 0, 0, 0) 85.88957%, rgba(100, 100, 225, 0.25) 85.88957%, rgba(100, 100, 225, 0.25) 91.41104%, rgba(0, 0, 0, 0) 91.41104%, rgba(0, 0, 0, 0) 94.47853%, rgba(100, 100, 225, 0.25) 94.47853%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
/* line 38, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 69, sass/main.scss */
.banner {
  margin-left: -80px;
  margin-right: -80px;
  padding-left: 80px;
  padding-right: 80px;
}

/* line 77, sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

/* line 91, sass/main.scss */
.m-hero h2, .banner {
  font-size: 68px;
  line-height: 72px;
}

/* line 98, sass/main.scss */
a {
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 104, sass/main.scss */
.bbc-logo {
  margin: 0;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/logo-bbc.png?1361932270');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 356px;
  height: 120px;
}
/* line 107, sass/main.scss */
.bbc-logo a {
  display: block;
  height: 100%;
}

/* line 115, sass/main.scss */
.m-hero {
  margin: 0 auto;
  width: 1058px;
  padding-top: 140px;
  padding-left: 80px;
  height: 260px;
  margin-top: -200px;
  background: #333333;
  color: white;
}
/* line 121, sass/main.scss */
.home .m-hero {
  height: 580px;
}
/* line 125, sass/main.scss */
.m-hero h2 {
  margin-bottom: 24px;
}
/* line 129, sass/main.scss */
.m-hero p {
  margin: 0;
  line-height: 30px;
  font-size: 20px;
}

/* line 137, sass/main.scss */
.main-header {
  margin-bottom: 60px;
  color: white;
}
/* line 140, sass/main.scss */
.main-header .top {
  height: 270px;
  background: #111111;
}
/* line 145, sass/main.scss */
.main-header .top #main-nav {
  float: left;
}
/* line 146, sass/main.scss */
.main-header .top .phone {
  float: right;
}

/* line 150, sass/main.scss */
.phone {
  margin: 0;
  line-height: 67px;
}

/* line 155, sass/main.scss */
#main-nav {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 163, sass/main.scss */
#main-nav ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
/* line 167, sass/main.scss */
#main-nav ul li {
  float: left;
  margin-right: 40px;
  border-top: 3px solid #111111;
}
/* line 174, sass/main.scss */
#main-nav a {
  text-decoration: none;
  line-height: 67px;
  color: #999999;
}
/* line 18, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#main-nav a:visited {
  color: #999999;
}
/* line 21, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#main-nav a:focus {
  color: white;
}
/* line 24, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#main-nav a:hover {
  color: white;
}
/* line 27, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#main-nav a:active {
  color: #999999;
}
/* line 179, sass/main.scss */
#main-nav .current-menu-item {
  border-top-color: white;
}
/* line 180, sass/main.scss */
#main-nav .current-menu-item a, #main-nav .current-menu-item a:visited {
  color: white;
}
/* line 185, sass/main.scss */
#main-nav span {
  color: #999999;
}

/* line 188, sass/main.scss */
.banner {
  margin-top: 0;
  margin-bottom: 60px;
  line-height: 180px;
}
/* line 194, sass/main.scss */
.banner.contact {
  background: #dddddd;
}

/* line 200, sass/main.scss */
.m-contact .contact-block {
  width: 22.69939%;
  float: left;
  margin-right: 3.06748%;
  display: inline;
}
/* line 202, sass/main.scss */
.m-contact .contact-block.last {
  width: 22.69939%;
  float: right;
  margin-right: 0;
  #margin-left: -30px;
  display: inline;
}
/* line 206, sass/main.scss */
.m-contact h4 {
  margin: 0 0 16px 0;
}

/* line 213, sass/main.scss */
.main-footer .bot {
  color: #999999;
  background: #111111;
}
/* line 217, sass/main.scss */
.main-footer .copyrights {
  margin: 0;
  line-height: 50px;
}
